.desktop1Child,
.desktop1Inner,
.desktop1Item {
  position: absolute;
  top: 100px;
  left: 100px;
  
  width: 479px;
  height: 881px;
}
.desktop1Inner,
.desktop1Item {
  left: 550px;
}
.desktop1Inner {
  left: 1050px;
}
.desktop1 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1080px;
  overflow: hidden;
}
